<ion-view view-title="Asset Info" id="page7">
    <ion-content overflow-scroll="true" padding="true" scroll="false">
	<h1 class="main-head">Asset Info</h1>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <a ui-sref="login" id="assetInfo-button4" class="button button-assertive  button-block">Log In</a>
        <a ui-sref="signuptypes" id="assetInfo-button5" class="button button-assertive  button-block">Sign up</a>
        <div class="spacer" style="width: 320px; height: 20px;"></div>
        <a href="#" id="assetInfo-button6" style="color:#17D6C8;" class="button button-light button-block cont-as-guest">Continue as Guest</a>
    </ion-content>
</ion-view>