<ion-view>
    <ion-content overflow-scroll="true" padding="true" scroll="false">
        <a ui-sref="signup" id="assetInfo-button-one" class="button button-block button-large" ng-click="hideManagerCompanyFields()">Individual</a>
        <a ui-sref="signup" id="assetInfo-button-three" class="button button-block button-large" ng-click="showMangerCompanyFields()">Company User</a>
		<a ui-sref="signup" id="assetInfo-button-two" class="button button-block button-large" ng-click="showCompanyField()">Company</a>
    </ion-content>
</ion-view>